<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Login Bootstrap </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <!-- partial:index.partial.html -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.css" rel="stylesheet"
        id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.js"></script>
    
    <!------ Include the above in your HEAD tag ---------->

</head>

<body>


    <section id="login">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-wrap">
                        <h1>Faça login com sua conta de e-mail</h1>
                        <form action="{{ url_for('login')}}" method="post" autocomplete="off">
                        
                            <div class="form-group">
                                <label for="email" class="sr-only">Email</label>
                                <input type="text" name="email" id="email" class="form-control"
                                    placeholder="exemplo@exemplo.com">
                            </div>
                            <div class="form-group">
                                <label for="key" class="sr-only">Senha</label>
                                <input type="password" name="key" id="key" class="form-control" placeholder="Senha">
                            </div>
                            <div class="checkbox">
                                <span class="character-checkbox" onclick="showPassword()"></span>
                                <span class="label">Mostrar senha</span>
                            </div>
                            <input type="submit" class="btn btn-custom btn-lg btn-block" value="Iniciar Sessão">
                           
                            <a href="{{ url_for('register') }}" class="forget" >Registre-se</a>
                        </form>
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        {% for message in messages %}
                        
                        <div class="alert alert-warning alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                           {{ message }}
                          </div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                    </div>
                </div> <!-- /.col-xs-12 -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </section>



    <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src="{{ url_for('static', filename='js/script.js')}}"></script>

</body>

</html>