<!-- https://codepen.io/michelle_gilbert/pen/EEwxRj -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login Bootstrap Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <!-- partial:index.partial.html -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

</head>

<body>


    <section id="login">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-wrap">
                        <h1>Faça registro com sua conta de e-mail</h1>
                        <form  action="{{ url_for('register')}}" method="post" autocomplete="on">
                            <div class="form-group">
                                <label for="nome" class="sr-only">Nome</label>
                                <input type="text" name="nome" id="nome" class="form-control"
                                    placeholder="Nome">
                            </div>
                            <div class="form-group">
                                <label for="email" class="sr-only">Email</label>
                                <input type="email" name="email" id="email" class="form-control"
                                    placeholder="exemplo@exemplo.com">
                            </div>
                            <div class="form-group">
                                <label for="key" class="sr-only">Password</label>
                                <input type="password" name="key" id="key" class="form-control" placeholder="Senha">
                            </div>
                            <div class="checkbox">
                                <span class="character-checkbox" onclick="showPassword()"></span>
                                <span class="label">Mostrar senha</span>
                            </div>
                            <button type="submit" class="btn btn-custom btn-lg " >Iniciar Sessão</button>
                        </form>
                      
                    </div>
                </div> <!-- /.col-xs-12 -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </section>


   
    <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src="{{ url_for('static', filename='js/script.js')}}"></script>

</body>

</html>